* {
    box-sizing: border-box;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}


header {
    background: black;
    color: white;
    padding: 15px;
}

body, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display: block;
    text-transform: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header ul li a:hover {
    background: #127cc1;
    border: none;
    border-radius: 5px;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    display: block;
    max-width: 70px;
    cursor: pointer;
}

#sidebar {
    width: 23%;
}
#content {
    width: 75%;
}

#main {
    align-items: flex-start;
}
#sidebar, #content {
    margin: 15px 0;
    box-shadow: 0 0 5px 2px #00000042;
    padding: 15px;
    border-radius: 5px;
    min-height: 1350px;
}

#sidebar ul li a {
    display: block;
    padding: 10px 0px;
    color: black;
    border-bottom: 1px dashed black;
}
#sidebar ul li a:hover {
    color: #127cc1;
    border-color: #127cc1;
    font-weight: bold;
}

#sidebar ul li:last-child a {
    border: none;
}

#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 23%;
    box-shadow: 0 0 5px 1px grey;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
}

.product:hover {
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 0 0 5px 2px #00000042;
}

.product img{
    max-width: 100%;
}

.product img:hover {
    cursor: pointer;
}


.product h2 {
    margin: 0 0 15px 0;
}

.p-bottom {
    display: flex;
    justify-content: space-between;
}

.p-bottom button {
    background: #127cc1;
    border: none;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.p-bottom button:hover {
    background: #185b86;
    cursor: pointer;
}
.p-bottom span{
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

footer {
    width: 100%;
    background: #000000;
    color: white;
    padding: 15px;
}

footer a {
    color: white;
}


footer h3 {
    margin: 0 0 15px 0;
}
footer .container {
    align-items: flex-start;
}

footer .container < div {
    min-width: 260px;
    width: 100%;
}


.f-links a{
    display: block;
    padding: 0 0 5px 0;
}

.f-links a:hover {
    text-decoration: underline;
}

.form-subscribe, .social-links {
    display: flex;
    flex-direction: column;
}

.form-subscribe {
    margin-bottom: 15px;
    height: 30px;
    padding: 5px;
}
.form-subscribe button {
    background: #247cc1;
    border: none;
    padding: 5px;

}

.social-links a {
    padding: 0 0 15px 0;
    display: block;
    font-size: 20px;
}
.social-links {
    padding: 100px;
}


@media (max-width: 960px) {
        .product {
            width: 32%;
        }
}

@media (max-width: 725px) {
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header ul {
        flex-direction: column;
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }
    .product {
        width: 48%;
    }
    #sidebar {
        width: 33%;
    }
    #content {
        width: 65%;
    }
}


@media (max-width: 570px) {

    #sidebar {
        width: 100%;

    }
    #content {
        width: 100%;
    }
    #sidebar, #content {
        text-align: center;
    }
}