* {
    box-sizing: border-box;
}


header {
    background: black;
    color: white;
    padding: 15px;
}

body, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
header ul li a:hover {
    background: #a05353;
}

header ul li {
    list-style: none;
}

header ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    display: block;
    max-width: 70px;
}



@media (max-width: 725px) {
    header .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    header ul {
        flex-direction: column;
        margin-top: 25px;
        width: 100%;
        text-align: center;
    }
}

